/* Estilos globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
}

main {
    padding: 20px;
}

/* Estilos do header */
header {
    width: 100%;
    height: 40px;
    background: linear-gradient(to right, #066aff, #005ae0);
    padding: 2px 0;
}

header nav {
    justify-content: end;
    gap: 20px;
    display: flex;
    margin: 0 15px;
    align-items: center;
}

/* Estilos do seletor de estação */
#seletorEstacao {
    border-radius: 5px;
    background-color: #005ae0;
    padding: 3px 3px;
    font-size: 16px;
    color: #fff;
    border: 1px solid #fff;
    outline: none;
    transition: border-color 0.3s, background-color 0.3s;
    cursor: pointer;
}

#seletorEstacao:focus {
    border-color: #003d99;
    background-color: #004bb5;
}

.nav-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Estilos do botão */
nav button {
    background-color: transparent;
    box-sizing: border-box;
    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
}

nav i {
    font-size: 25px;
    color: white;
}

/* Estilos da imagem do usuário */
header img {
    width: 35px;
    border-radius: 50%;
    padding: 1px;
    cursor: pointer;
}

/* Estilos dos cards */
#card-container {
    display: flex;
    gap: 10px;
}

.card {
    box-sizing: border-box;
    width: 300px;
    gap: 20px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px;
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 16px;
}

.card p {
    margin: 5px 0;
}

/* Estilos do cabeçalho da senha */
#senha {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: white;
    border-radius: 10px;
    padding: 15px 10px;
    background-color: #005ae0;
    margin-bottom: 15px;
}

#tempo {
    font-size: 18px;
    color: #fff;
    margin: 0;
    padding: 0;
}

h3 {
    color: green;
}

.card span p {
    color: red;
}

/* Estilos do ID da senha */
#idsenha {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
    gap: 10px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

/* Estilos do welcome-message */
#welcome-message {
    font-size: 18px;
    display: flex;
    text-align: center;
    color: white;
    font-weight: normal;
    gap: 10px;
    margin-right: 65%;
}

/* Estilos dos botões */
.botoes {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    margin: 10px 0;
}

/* Estilo do botão de chamar */
.botoes .chamar {
    background-color: #0066ff;
    color: #fff;
    font-size: 14px;
    padding: 12px 20px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Efeito de hover para o botão de chamar */
.botoes .chamar:hover {
    background-color: #0056d2;
}

/* Estilo do botão de cancelar */
.botoes .cancelar {
    background-color: #ff4949;
    color: #fff;
    font-size: 14px;
    padding: 12px 20px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Efeito de hover para o botão de cancelar */
.botoes .cancelar:hover {
    background-color: #cc0000;
}

/* Estilização do botão de próximo */
#proximo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #0056d2; /* Cor de fundo azul */
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
    font-size: 24px;
    position: fixed;
    bottom: 100px; /* Distância do fundo */
    right: 100px; /* Distância do lado direito */
}

#proximo:hover {
    background-color: #003d99; /* Cor ao passar o mouse */
}

/* Estilização do ícone dentro do botão */
#proximo i {
    font-size: 24px; /* Tamanho do ícone */
    color: white; /* Cor do ícone */
}
