* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'montserrat', sans-serif;
}

body {
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
}

main {
    padding: 20px;
}

header {
    width: 100%;
    height: 40px;
    background: linear-gradient(to right, #066aff, #005ae0);
    padding: 2px 0px;
}

header nav {
    justify-content: end;
    gap: 20px;
    display: flex;
    margin: 0px 15px;
}

header img {
    width: 35px;
    border-radius: 50%;
    padding: 1px;
    cursor: pointer;
}

nav button {
    background-color: transparent;
    box-sizing: border-box; /* Garante que o padding e a borda não alterem o tamanho */
    display: flex; /* Opcional: Facilita a centralização de conteúdo interno */
    border: none;
    align-items: center; /* Opcional: Centraliza o conteúdo verticalmente */
    justify-content: center; /* Opcional: Centraliza o conteúdo horizontalmente */
}

nav i {
    font-size: 25px;
    color:  white;
    cursor: pointer;
}

nav i:hover {
    color: #c9d6ff;
}

.card {
    box-sizing: border-box;
    width: 300px;
    background-color: #fff; /* Cor de fundo do card */
    border-radius: 10px; /* Arredondar os cantos */
    overflow: hidden; /* Garante que o conteúdo não ultrapasse os limites do card */
    margin: 10px;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px; /* Adiciona uma sombra suave */
    transition: transform 0.3s, box-shadow 0.3s; /* Transição suave para hover */
}


.card:hover {
    transform: translateY(-5px);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 16px; /* Aumenta a sombra ao passar o mouse */
}

/* Estilos do Cabeçalho da Senha */
#senha {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: white;
    border-radius: 10px;
    padding: 15px 10px;
    background-color: #005ae0; /* Cor de fundo do cabeçalho */
    margin-bottom: 15px; /* Espaçamento inferior */
}

#tempo {
    font-size: 18px;
    color: #fff;
    margin: 0;
    padding: 0;
}

h3 {
    color: green;
}


.card {
    text-align: center;
    display: flex;
    flex-direction: column;
}

/* // senha */
.card span p {
    color: red;
}

/* Estilos do ID da Senha */
#idsenha {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
    gap: 10px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

/* Estilos dos Botões */
.botoes {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    margin: 10px 0;
}

/* Estilo do Botão de Chamar */
.botoes .chamar {
    background-color: #0066ff;
    color: #fff;
    font-size: 14px;
    padding: 12px 20px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Efeito de Hover para o Botão de Chamar */
.botoes .chamar:hover {
    background-color: #0056d2;
}

/* Estilo do Botão de Cancelar */
.botoes .cancelar {
    background-color: #ff4949;
    color: #fff;
    font-size: 14px;
    padding: 12px 20px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Efeito de Hover para o Botão de Cancelar */
.botoes .cancelar:hover {
    background-color: #cc0000;
}

/* Estilização do botão */
#proximo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #0056d2; /* Cor de fundo verde */
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
    font-size: 24px;
    position: fixed;
    bottom: 100px; /* Distância do fundo */
    right: 100px; /* Distância do lado direito */
}

#proximo:hover {
    background-color: #45a049; /* Cor ao passar o mouse */
}

/* Estilização do ícone dentro do botão */
#proximo i {
    font-size: 24px; /* Tamanho do ícone */
    color: white; /* Cor do ícone */
}