* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'montserrat', sans-serif;
}

main {
    height: 100vh;
    margin: 0;
    padding: 0; /* Remove qualquer padding que possa estar causando a borda */
}

header {
    display: flex;
    height: 70%;
}

.senhas, .local {
    display: flex;
    flex-direction: column;
}

.senhas span {
    background-color: #005ae0;
    border-radius: 0px 0px 10px 10px;
    height: 45px;
    width: 150px;
    padding: 3px;
}

.senhas p {
    font-size: 2rem;
    color: white;
    font-weight: 800;
}

.senhas h1 {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 130px;
    height: 100%;
}

.local span p {
    background-color: #005ae0;
    border-radius: 0px 0px 10px 10px;
    height: 45px;
    width: 150px;
    padding: 3px;
    font-size: 2rem;
    color: white;
    font-weight: 800;
}

.local h1 {
    width: 100%;
    height: 100%;
}

.conteudo {
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: #005ae0;
    padding: 20px;
    flex-direction: column;
    gap: 20px;
    font-size: 35px;
}

.senhas, .local {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    text-align: center;
    width: 100%;
    background-color: white;
    height: 50%;
    color: #005ae0;
    border-radius: 20px;
}

.video {
    position: relative;
    width: 100vw; /* Use 100vw para a largura total da janela de visualização */
    height: 100%; /* Use 100vh para a altura total da janela de visualização */
    overflow: hidden;
    margin: 0; /* Garante que não haja margem extra */
}

.video iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    transform: translate(-50%, -50%);
    object-fit: cover; /* Cobre toda a área, cortando se necessário */
}

footer {
    width: 100%;
    text-align: center;
    height: 30%;
}

#nomeVendedor {
    display: flex;
    font-size: 4.5rem;
    align-items: center;
    text-transform: uppercase;
    justify-content: center;
    gap: 25px;
}

#titulo {
    position: absolute;
    width: 300px;
    left: 40%;
    padding: 7px;
    color: white;
    background-color: #005ae0;
    border-radius: 0px 0px 10px 10px;
    height: 40px;
}

.card {
    display: flex;
    text-transform: uppercase;
    padding-top: 3%;
    font-size: 50px;
    font-weight: 800;
    justify-content: center;
    align-items: center;
    height: 270px;
    width: 400px;
    margin: 0px 10px;
}

.card p {
    color: #005ae0;
    font-weight: 800;
}

.senha1, .senha2, .senha3, .senha4 {
    font-size: 50px;
}

.ultimas-chamadas {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    text-align: center; /* Garante que o texto dentro das chamadas também esteja centralizado */
    width: 100%;
    height: 100%; /* Ajuste a altura para o layout */
}

.ultimas-chamadas span {
    font-size: 50px;
    font-weight: 800;
}

.ultimas-chamadas p {
    font-size: 90px;
}
